{% extends "base.html"%}
{% block content %}

<div id="loading" class="loader" style="display:inline;">
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-denim" id="main-navbar">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#"><b>Kuebiko Cubing</b></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav">

            <li class="nav-item"><a id="pbs-tab" href="#pbs" aria-controls="pbs"
                                    role="tab" data-toggle="tab"
                                    class="nav-link text-white">Overall PB Summary</a>
            </li>

            {% if solves_by_dates %}
            <li class="nav-item nav-link text-white d-none d-lg-block">|</li>
            <li class="nav-item"><a id="dates-histogram-tab" href="#dates-histogram" aria-controls="dates-histogram"
                                    role="tab" data-toggle="tab"
                                    class="nav-link text-white">Dates Histogram</a>
            </li>
            {% endif %}

            <li class="nav-item nav-link text-white d-none d-lg-block">|</li>

            {% for puz,cats in solves_details.items() %}
            {% set outerloop = loop %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white {% if loop.index == 1 %} active {% endif %}"
                   id="puz-{{ puz }}-dropdown" href="#"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ puz }}</a>

                <div class="dropdown-menu" aria-labelledby="puz-{{ puz }}-dropdown">

                    {% for cat,details in cats.items() %}
                    <a class="dropdown-item {% if outerloop.index == 1 and loop.index == 1 %} active {% endif %}"
                       id="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-tab"
                       href="#puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}"
                       aria-controls="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}"
                       role="tab"
                       data-toggle="tab">{{ cat }}</a>
                    {% endfor %}

                </div>
            </li>
            {% endfor %}

            <li class="nav-item nav-link text-white d-none d-lg-block">|</li>
            <li class="nav-item">
                <a href="{{url_for('index')}}" class="nav-link text-white">Analyze another file</a>
            </li>

            <li class="nav-item nav-link text-white d-none d-lg-block">|</li>
            <li class="nav-item">
                <a class="nav-link text-white" target="_blank" rel="noopener noreferrer"
                   href="https://github.com/tussosedan/kuebiko-cubing">GitHub</a>
            </li>
            <li class="nav-item nav-link text-white d-none d-lg-block">|</li>
            <li class="nav-item">
                <a class="nav-link text-white" target="_blank" rel="noopener noreferrer"
                   href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HPNNZV28DEJ3U&source=url">
                    Donate</a>
            </li>
        </ul>
    </div>
</nav>


<div class="tab-content" id="maintabcontent">
    <div role="tabpanel" class="tab-pane fade"
         id="pbs"
         aria-labelledby="pbs-tab">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center">
            <ul class="nav nav-tabs" role="tablist">
                <li class="navbar-item text-white"><h4>Overall PB Summary</h4></li>
            </ul>
        </nav>

        <div class="table-responsive">
            {{ overall_pbs.to_html(classes="table table-bordered table-striped table-sm
            text-center", justify="center", na_rep='--') | safe }}
        </div>
    </div>

    {% if solves_by_dates %}
    <div role="tabpanel" class="tab-pane fade"
         id="dates-histogram"
         aria-labelledby="dates-histogram-tab">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center inner-navbar"
             id="inner-navbar-dates-histogram">
            <ul class="nav nav-tabs" role="tablist">
                <li class="navbar-brand"><b>Dates Histogram by</b></li>

                {% for group_name, plot in solves_by_dates.items() %}
                <li class="nav-item"><a id="dates-histogram-{{ group_name }}-plot-tab"
                                        href="#dates-histogram-{{ group_name }}-plot"
                                        aria-controls="dates-histogram-{{ group_name }}-plot"
                                        role="tab" data-toggle="tab"
                                        class="nav-link text-white bg-primary
                                                {% if loop.index == 2 %} active {% endif %}">
                                            {{ group_name }}
                                        </a>
                </li>
                {% endfor %}
            </ul>
        </nav>

        <div class="tab-content">
            {% for group_name, plot in solves_by_dates.items() %}
            <div role="tabpanel" class="tab-pane fade {% if loop.index == 2 %} show active {% endif %}"
                 id="dates-histogram-{{ group_name }}-plot"
                 aria-labelledby="dates-histogram-{{ group_name }}-plot-tab">
                {{ plot | safe }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% for puz,cats in solves_details.items() %}
    {% set outerloop = loop %}
    {% for cat,details in cats.items() %}
    <div role="tabpanel"
         class="tab-pane fade {% if outerloop.index == 1 and loop.index == 1 %} show active {% endif %}"
         id="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}"
         aria-labelledby="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-tab">


        <!-- Per-category Tabs -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center inner-navbar"
             id="inner-navbar-{{ outerloop.index }}-{{ loop.index }}">
            <ul class="nav nav-tabs" role="tablist">
                <li class="navbar-brand"><b>{% if puz != 'Sessions' %}{{ puz }} - {% endif %}{{ cat }}</b></li>

                <li class="nav-item"><a id="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-plot-tab"
                                        href="#puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-plot"
                                        aria-controls="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-plot"
                                        role="tab" data-toggle="tab"
                                        class="nav-link active text-white bg-primary"
                                        aria-selected="true">Chart</a>
                </li>

                <li class="nav-item"><a id="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-histogram-tab"
                                        href="#puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-histogram"
                                        aria-controls="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-histogram"
                                        role="tab" data-toggle="tab"
                                        class="nav-link text-white bg-primary">Histogram</a>
                </li>

                <li class="nav-item"><a id="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-pbs-tab"
                                        href="#puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-pbs"
                                        aria-controls="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-pbs"
                                        role="tab" data-toggle="tab"
                                        class="nav-link text-white bg-primary">PBs</a>
                </li>

                <li class="nav-item"><a id="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-topn-tab"
                                        href="#puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-topn"
                                        aria-controls="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-topn"
                                        role="tab" data-toggle="tab"
                                        class="nav-link text-white bg-primary">Top 50</a>
                </li>

            </ul>
        </nav>

        <!-- Per Category Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade"
                 id="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-pbs"
                 aria-labelledby="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-pbs-tab">

                <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center"
                     id="pbs-navbar">
                    <ul class="nav nav-pills" role="tablist">
                        {% for series, pbs in details[0].items() %}
                        <li class="nav-item"><a id="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-pbs-{{ series }}-tab"
                                                href="#puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-pbs-{{ series }}"
                                                aria-controls="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-pbs-{{ series }}"
                                                role="tab" data-toggle="tab"
                                                class="nav-link
                                                        {% if loop.index == 1 %} active {% endif %}">
                                                    {{ series }}
                                                </a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>

                <div class="tab-content">
                    {% for series, pbs in details[0].items() %}
                    <div role="tabpanel" class="tab-pane fade {% if loop.index == 1 %} show active {% endif %}"
                         id="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-pbs-{{ series }}"
                         aria-labelledby="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-pbs-{{ series }}-tab">
                        <div class="container-fluid">
                            <div class="table-responsive fixed-table-body">
                                {{ pbs.to_html(classes="table table-bordered table-striped
                                    text-center", justify="center", index=False, na_rep='--') | safe }}
                                {% if pbs|length == 50 %}
                                    <div class="alert alert-warning text-center" role="alert">
                                      Showing only up to 50 latest PBs
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade show active"
                 id="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-plot"
                 aria-labelledby="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-plot-tab">
                {{ details[1] | safe }}
            </div>

            <div role="tabpanel" class="tab-pane fade"
                 id="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-histogram"
                 aria-labelledby="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-histogram-tab">
                {{ details[2] | safe }}
            </div>

            <div role="tabpanel" class="tab-pane fade"
                 id="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-topn"
                 aria-labelledby="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-topn-tab">

                <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center"
                     id="topn-navbar">
                    <ul class="nav nav-pills" role="tablist">
                        {% for series, topn in details[0].items() %}
                        <li class="nav-item"><a id="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-topn-{{ series }}-tab"
                                                href="#puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-topn-{{ series }}"
                                                aria-controls="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-topn-{{ series }}"
                                                role="tab" data-toggle="tab"
                                                class="nav-link
                                                        {% if loop.index == 1 %} active {% endif %}">
                                                    {{ series }}
                                                </a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>

                <div class="tab-content">
                    {% for series, topn in details[3].items() %}
                    <div role="tabpanel" class="tab-pane fade {% if loop.index == 1 %} show active {% endif %}"
                         id="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-topn-{{ series }}"
                         aria-labelledby="puz-{{ puz }}-cat-{{ cat|replace(' ','-') }}-topn-{{ series }}-tab">
                        <div class="container-fluid">
                            <div class="table-responsive fixed-table-body">
                                {{ topn.to_html(classes="table table-bordered table-striped
                                    text-center", justify="center", index=False, na_rep='--') | safe }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


    </div>
    {% endfor %}
    {% endfor %}

</div>


<script type="application/javascript">
function resizePlotVisible() {
    var myWidth = window.innerWidth;
    var myHeight = window.innerHeight - $("#main-navbar").outerHeight() - ($(".inner-navbar:visible").first().outerHeight() || 58);

    $(".plotly-graph-div:visible").each(function(){
        Plotly.relayout(this, {width:myWidth, height:myHeight});
    });

    $('#loading').hide();
}


function resizePlotsHidden() {
    var myWidth = window.innerWidth;
    var myHeight = window.innerHeight - $("#main-navbar").outerHeight() - ($(".inner-navbar:visible").first().outerHeight() || 58);

    $(".plotly-graph-div").not(":visible").each(function(){
        Plotly.relayout(this, {width:myWidth, height:myHeight});
    });
}


function resizePlotsAll() {
    var myWidth = parseInt($("#main-navbar").outerWidth());
    var calcInnerHeight = parseInt(parseInt($("#main-navbar").outerWidth()) / window.innerWidth * window.innerHeight);
    var myHeight = calcInnerHeight - $("#main-navbar").outerHeight() - ($(".inner-navbar:visible").first().outerHeight() || 58);

    $(".plotly-graph-div:visible").each(function(){
        Plotly.relayout(this, {width:myWidth, height:myHeight});
    });

    $(".plotly-graph-div").not(":visible").each(function(){
        Plotly.relayout(this, {width:myWidth, height:myHeight});
    });

    $('#loading').hide();
}


function resizePlots() {
    //setTimeout(function () { resizePlotVisible(); }, 500);
    //setTimeout(function () { resizePlotsHidden(); }, 1000);
    //setTimeout(function () { resizePlotsAll(); }, 2000);
    resizePlotsAll();
}


window.onload = function () {
        resizePlots();
        gtag('event', 'finish_loading_file', {
                  'event_category': '{{ timer_type }}',
                  'value': {{ datalen }}
                });
    }


// resize handling
var rtime;
var timeout = false;
var delta = 250;
$(window).resize(function() {
    $('#loading').show();
    rtime = new Date();
    if (timeout === false) {
        timeout = true;
        setTimeout(resizeend, delta);
    }
});

function resizeend() {
    if (new Date() - rtime < delta) {
        setTimeout(resizeend, delta);
    } else {
        timeout = false;
        resizePlots();
    }
}


// collapse navbar toggle on menu selection
 $(function(){
     $(".dropdown-item, #pbs-tab, #dates-histogram-tab").on("click", function () {
         $("#navbarSupportedContent").collapse('hide');
     });
 });


// google analytics events
$('.inner-navbar ul li a, #pbs-tab').click(function() {
  gtag('event', this.id, {
                  'event_category': $(this).text()
                });
});


// Enable navigation prompt
window.onbeforeunload = function() {
    return true;
};


</script>

{% endblock %}
