{% extends "base.html"%}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-denim">
    <a class="navbar-brand" href="{{url_for('index')}}"><b>Kuebiko Cubing</b></a>
    <a class="nav-item nav-link text-white ml-auto" target="_blank" rel="noopener noreferrer"
       href="https://github.com/tussosedan/kuebiko-cubing">GitHub</a>
    <a class="nav-item nav-link text-white" target="_blank" rel="noopener noreferrer"
       href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HPNNZV28DEJ3U&source=url">Donate</a>
</nav>


<div id="content" class="jumbotron text-center">
    <div class="d-flex justify-content-center">
        <form action="{{url_for('index')}}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file" class="h4">Upload a timer backup file for analysis</label>
                <div class="text-muted">Supported timers:
                    <abbr data-toggle="tooltip" data-placement="bottom" data-html="true" class="text-nowrap"
                          title="Export > Export to file<br/>
                                    <u>Note</u>: cstimer saves dates starting December 2018">cstimer</abbr>,
                    <abbr data-toggle="tooltip" data-placement="bottom" data-html="true" class="text-nowrap"
                          title="Settings > Data ><br/> Block Keeper > Export<br/>
                                    <u>Note</u>: Block Keeper saves dates starting v1.3.1 (January 2018)">
                        Block Keeper</abbr>,
                    <abbr data-toggle="tooltip" data-placement="bottom" data-html="true" class="text-nowrap"
                          title="Stats > Share button > Copy<br/>
                                    <u>Note</u>: ChaoTimer data doesn't include dates">ChaoTimer</abbr>,
                    <abbr data-toggle="tooltip" data-placement="bottom" data-html="true" class="text-nowrap"
                          title="View > History ><br/>Select solves > Copy<br/>
                                    <u>Note</u>: use YYYYMMDD date format in OS before opening Prisma for best results">
                        Prisma Puzzle Timer</abbr>,
                    <abbr data-toggle="tooltip" data-placement="bottom" data-html="true" class="text-nowrap"
                          title="Chrome: F12 > Application > Local Storage > qqtimer > sessionX >
                                    Copy full line including &quot;>&quot;<br/>
                                    For other browsers similarly access the localStorage<br/>
                                    <u>Note</u>: qqtimer data doesn't include dates">qqtimer</abbr>,
                    <abbr data-toggle="tooltip" data-placement="bottom" data-html="true" class="text-nowrap"
                          title="Export/Import > Export ><br/> For backup">Twisty Timer</abbr>,
                    <abbr data-toggle="tooltip" data-placement="bottom" data-html="true" class="text-nowrap"
                          title="Session > Save ><br/> Copy/Email All Sessions<br/>
                                    <u>Note</u>: ZYX Timer data doesn't include dates">ZYX Timer</abbr>
                </div>
                <br/>
                <div class="accordion col-12 col-sm-10 col-md-6 mx-auto" id="optionsAccordion">
                    <div class="card rounded">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="false" aria-controls="collapseOne">
                                    Advanced Options
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                             data-parent="#optionsAccordion">
                            <div class="container card-body">
                                <div class="row align-items-baseline">
                                    <div class="col p-2 text-left h6">Chart by</div>
                                    <div class="col p-2 btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-light active">
                                            <input type="radio" name="chart-by" id="chart-by-dates"
                                                   value="chart-by-dates"
                                                   autocomplete="off" checked> Dates
                                        </label>
                                        <label class="btn btn-light">
                                            <input type="radio" name="chart-by" id="chart-by-solve-num"
                                                   value="chart-by-solve-num"
                                                   autocomplete="off"> Solve #
                                        </label>
                                    </div>
                                </div>
                                <div class="row align-items-baseline">
                                    <div class="col p-2 text-left h6">Secondary Y Axis</div>
                                    <div class="col p-2 btn-group btn-group-toggle" data-toggle="buttons"
                                         id="secondary-y-axis-btns">
                                        <label class="btn btn-light active">
                                            <input type="radio" name="secondary-y-axis" id="secondary-y-axis-none"
                                                   value="none" autocomplete="off" checked> None
                                        </label>
                                        <label class="btn btn-light">
                                            <input type="radio" name="secondary-y-axis" id="secondary-y-axis-subx"
                                                   value="subx" autocomplete="off"> Sub-X %
                                        </label>
                                    </div>
                                </div>
                                <div class="row align-items-baseline" id="subx-threshold-section"
                                     style="display: none;">
                                    <div class="col p-2 text-left h6">Sub-X % Threshold</div>
                                    <div class="col p-2 btn-group btn-group-toggle" data-toggle="buttons"
                                         id="subx-threshold-btns">
                                        <label class="btn btn-light active">
                                            <input type="radio" name="subx-threshold" id="subx-threshold-auto"
                                                   value="auto" autocomplete="off" checked> Auto
                                        </label>
                                        <label class="btn btn-light">
                                            <input type="radio" name="subx-threshold" id="subx-threshold-set"
                                                   value="set" autocomplete="off"> Set
                                        </label>
                                    </div>
                                </div>
                                <div class="row align-items-baseline" id="subx-override-section"
                                     style="display: none;">
                                    <div class="col p-2 text-left h6">Sub-X Override</div>
                                    <div class="col p-2" data-toggle="buttons">
                                        <input type="text" class="form-control" name="subx-override"
                                               placeholder="seconds">
                                    </div>
                                </div>
                                <div class="row align-items-baseline">
                                    <div class="col p-2 text-left h6">Day End Time</div>
                                    <div class="col p-2">
                                        <select class="custom-select" name="day-end-hour">
                                            <option value="0">00:00</option>
                                            <option value="1">01:00</option>
                                            <option value="2">02:00</option>
                                            <option value="3" selected>03:00</option>
                                            <option value="4">04:00</option>
                                            <option value="5">05:00</option>
                                            <option value="6">06:00</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="tz" name="tz" value="UTC"/>
                <br/><br/>
                <input type="file" name="file" id="file" class="form-control-file mx-auto" style="width: 220px;">
                <br/>
                <textarea class="form-control form-control-sm text-center w-50 mx-auto"
                          id="textinput" name="textinput" rows="1"
                          placeholder="Or paste the data here"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" onclick="loading()">
                Submit
            </button>
        </form>
    </div>
</div>
<nav id="loading-navbar" style="display: none;"
     class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center">
    <ul class="nav">
        <li class="navbar-item text-white"><h4 id="loading-message">Loading...</h4></li>
    </ul>
</nav>
<div id="loading" class="loader">
</div>

<script type="application/javascript">
window.onload = function () {
        $('[data-toggle="tooltip"]').tooltip();

        tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
        if (tz == undefined) {
            tz = new Date().getTimezoneOffset() * -1;
        }
        document.getElementById('tz').value = tz;
    }


// control the visibility of inner advanced options
$('#secondary-y-axis-btns').click(function() {
    setTimeout(function() {
        if ($('#secondary-y-axis-subx').is(':checked')) {
            $('#subx-threshold-section').fadeIn();
            if ($('#subx-threshold-set').is(':checked')) {
                $('#subx-override-section').fadeIn();
            }
        }
        else {
            $('#subx-threshold-section').fadeOut();
            $('#subx-override-section').fadeOut();
        }
    }, 200)
});


$('#subx-threshold-btns').click(function() {
    setTimeout(function() {
        if ($('#subx-threshold-set').is(':checked')) {
            $('#subx-override-section').fadeIn();
        }
        else {
            $('#subx-override-section').fadeOut();
        }
    }, 200)
});


function shuffle(array) {
    var i = array.length,
        j = 0,
        temp;

    while (i--) {

        j = Math.floor(Math.random() * (i+1));

        // swap randomly chosen element with current element
        temp = array[i];
        array[i] = array[j];
        array[j] = temp;

    }

    return array;
}


function loading() {
    $('#content').hide();
    $('#loading').show();
    $('#loading-navbar').show();

    var loadingText = [
"Planning LL skip in inspection",
"Learning ZBLL in 5 minutes",
"Practicing for the next episode of Worst Judges",
"Browsing r/cubers instead of practicing",
"Buying every flagship ever released",
"Magnetizing the blindfold",
"Solving FB in 3 moves on average",
"Rotating y2 twice",
"Just one more solve",
"Doing table abuse without a table",
"Is that a 10x10?",
"Peeling off the stickers",
"Doing 7x7 FMC",
"Just using Petrus",
"Deleting all bad solves",
"Using only hand scrambles",
"Breaking in a 1x1",
"Restickering a 17x17",
"Solving XXCross every time",
"Generating memes",
"Reverse engineering zeroing",
"Arguing about what sub-X means"
                     ];

    var randText = shuffle(loadingText);
    var i = 0;

    setInterval(function() {
        var newText = randText[i % randText.length] + "...";
        i++;
        $("#loading-message").fadeOut(500, function () {
            $(this).text(newText).fadeIn(500);
        });
        }, 4 * 1000)
}


</script>

{% endblock %}
